/* Animation */
.enter {
  transform: translateX(-100%);
}
.enterActive {
  transform: translateX(0);
  transition: all 250ms linear;
}
.exit {
  transform: translateX(0);
}
.exitActive {
  transform: translateX(-100%);
  transition: all 250ms linear;
}

/*  */
/* .wrapper {
  width: 660px;
  padding: 30px;
  display: flex;
  flex-direction: column;
} */

.contactListItem {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 40px;
  border-radius: 6px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  padding: 10px 30px;
  margin-bottom: 10px;
}

.contactWrapper {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.btnDelete {
  width: 40px;
  line-height: 20px;
  font-size: 20px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border: rgb(224, 66, 66);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.btnDelete:hover,
.btnDelete:focus {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
}
